@model PlayerInfo

<div class="card">
    <div class="card-body">
        <h3 class="card-subtitle">@Model.name</h3>
        <p>
            <strong>Country:</strong> @Model.country <br />   <strong>Age:</strong> @Model.currentAge <br />  <strong>Batting style:</strong> @Model.battingStyle <br />
            <strong>Bowling style:</strong> @Model.bowlingStyle
        </p>
    </div>
    <div>
        <p class="btn">
            <a class="btn btn-primary"
               asp-controller="News"
               asp-action="NewsForSelectedPlayer"
               asp-route-name="@Model.name">View news</a>
        </p>
        <p class="btn">
            <a class="btn btn-danger"
               asp-action="Unfavourite"
               asp-route-pid="@Model.pid">Unfavourite</a>
        </p>
    </div>
</div>
