@model KeyValuePair<PlayerInfo, FileModel>


<div class="card">
    @if (Model.Value != null)
    {

        var base64 = Convert.ToBase64String(Model.Value.Data);
        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

        <img class="card-img-top" src="@imgSrc" alt="" />
    }
    else
    {
        <div class="card">
            <p class="btn">
                <a class="btn btn-primary"
                   asp-controller="FileUpload"
                   asp-action="Index"
                   asp-route-pid="@Model.Key.pid">Add an image for this player</a>
            </p>
        </div>
    }
    <div class="card-body">
        <h3 class="card-subtitle">@Model.Key.name</h3>

        <p>
            <strong>Country:</strong> @Model.Key.country <br />   <strong>Age:</strong> @Model.Key.currentAge <br />  <strong>Batting style:</strong> @Model.Key.battingStyle <br />
            <strong>Bowling style:</strong> @Model.Key.bowlingStyle
        </p>
    </div>
    <div>
        <p class="btn">
            <a class="btn btn-primary"
               asp-controller="News"
               asp-action="NewsForSelectedPlayer"
               asp-route-name="@Model.Key.name">View news</a>
        </p>
        <p class="btn">
            <a class="btn btn-danger"
               asp-action="Unfavourite"
               asp-route-pid="@Model.Key.pid">Unfavourite</a>
        </p>
        <p class="btn">
            <a class="btn btn-primary"
               asp-action="ShowPlayerStats"
               asp-route-pid="@Model.Key.pid">Show stats</a>
        </p>
        <p class="btn">
            <a class="btn btn-primary"
               asp-controller="Favourite"
               asp-action="CompareStats"
               asp-route-pid1="@Model.Key.pid">Compare stats with other favourites</a>
        </p>
        @if (Model.Value != null)
        {
            <p class="btn">
                <a class="btn btn-primary"
                   asp-controller="FileUpload"
                   asp-action="Index"
                   asp-route-pid="@Model.Key.pid">Change the image for this player</a>
            </p>
        }
    </div>
</div>
