@model SearchViewModel
    
    <div class="searchBarLabelContainer">
        <div class="searchBarLabel">
            <h4>Search for players to add to your favourites:</h4>
        </div>
    </div>

    <form asp-action="SearchWithQuery" method="post" id="searchBar">
        <div class="form-group">
            <div class="input-group">
                <input type="search" name="query" class="form-control" />
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>


@if (Model != null && Model.PlayerInfo == null)
{
    <h4>Who were you looking for? (select a player below)</h4>
    <br />
    foreach (var player in Model.PlayerList.data)
    {
        <a asp-action="PlayerInfoFromPid" asp-route-pid="@player.pid"><p>@player.fullName</p></a>
    }
}

@if (Model != null && Model.PlayerInfo != null)
{
    <h3>@Model.PlayerInfo.fullName</h3>
    <p><strong>Age:</strong> @Model.PlayerInfo.currentAge <br />  <strong>Batting style:</strong> @Model.PlayerInfo.battingStyle <br /> 
    <strong>Bowling style:</strong> @Model.PlayerInfo.bowlingStyle </p>
    <p>@Model.PlayerInfo.profile</p>
    <img src= @Model.PlayerInfo.imageURL />
    <p>Favourite this player to check out their detailed stats and get the latest news about them!</p>
    <p class="btn">
        <a class="btn btn-primary"
           asp-action="AddFavouritePlayer"
           asp-route-pid="@Model.PlayerInfo.pid"
           asp-route-fullName="@Model.PlayerInfo.fullName"
           asp-route-name="@Model.PlayerInfo.name">Favourite this player</a>
    </p>
}



