@model NewsItems


<p class="text-danger">TO DO: by default just show news for currently favourited players (up to 3 players)</p>
<p class="text-danger">TO DO: add dropdown to select just one favourited player's news results</p>
<p class="text-danger">TO DO: setup routing with player name from user home page</p>


@if (Model != null)
{
    <p>News stories: @Model.totalEstimatedMatches</p>

    @foreach (var item in Model.value)
    {
        <h3>@item.name</h3>
        <p>@item.description</p>
        <p><a href="@item.url">@item.url</a></p>
    }
}


